header{
    padding: 0 24px;
    position:fixed;
    box-sizing: border-box;
    width:100%;
    top:0;
    background-color: #fff;
    padding-bottom: 8px;
    transition: top 0.3s ease;
    .t{
        display: flex;
        align-items: center;
        justify-content: space-between;;
        margin-bottom:16px;
        div{
            b{
                font-weight: 700;
                font-size: 16px;
                &:after{
                    content: "";
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    border: 2px solid black;
                    border-top: 0;
                    border-left: 0;
                    transform: rotate(45deg);
                    margin-left: 8px;
                    position: relative;
                    bottom: 3px;
                }
            }
        }
        .account{
            width:32px;
            height:32px;
            border-radius:50%;
            background-color: lightgrey;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
    .b{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            width: 80%;
            position: relative;
            i{
                position:absolute;
                top:10px;
                left: 16px;
                font-size: 16px;
            }
            #headSearch{
                border:0;
                background-color: rgb(241, 241, 241);
                border-radius:12px;
                padding:8px 0 9px 48px;
                font-family: "Lato", sans-serif;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
    img{
        width: 32px;
        height: 32px;
    }
}