@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
p, a, b, i, button, input {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
  margin: 16px;
  position: relative;
  margin-bottom: 0;
}

h3 {
  font-size: 28px;
}

b {
  font-weight: bold;
  font-size: 18px;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  margin-top: 120px;
}

section {
  padding: 16px 16px 8px 16px;
}
section::-webkit-scrollbar {
  display: none;
}

a[class^=btn] {
  text-decoration: none;
  border-radius: 500px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px, rgba(0, 0, 0, 0.04) 0px 4px 4px;
}
a[class^=btn] i {
  margin-right: 4px;
}

.clickableheart.fa-solid {
  animation-name: bounce;
  animation-duration: 0.4s;
}

.btn1 {
  color: #fff;
  background-color: #000;
}

.btn2 {
  color: #000;
  background-color: #fff;
}

.sub {
  margin: 8px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(141, 141, 141);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
header {
  padding: 0 16px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  background-color: #fff;
  padding-bottom: 8px;
  transition: top 0.3s ease;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.09);
  padding-top: 8px;
}
header .t {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
header .t div b {
  font-weight: 700;
  font-size: 16px;
}
header .t div b:after {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  border: 2px solid black;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
  margin-left: 8px;
  position: relative;
  bottom: 3px;
}
header .t .account {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .b {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .b div {
  width: 80%;
  position: relative;
}
header .b div i {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 20px;
  transform: translateY(-50%);
}
header .b div #headSearch {
  border: 0;
  background-color: rgb(241, 241, 241);
  border-radius: 12px;
  padding: 10px 0 10px 48px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}
header img {
  width: 36px;
  height: 36px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav {
  display: flex;
  width: 100%;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
}
footer nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer nav div i {
  font-size: 24px;
}
footer p {
  font-size: 14px;
}

.found {
  background-size: cover;
}
.found h1 {
  margin-top: 8px;
}
.found .search {
  position: relative;
  width: 100%;
}
.found .search i {
  position: absolute;
  z-index: 10;
  font-size: 24px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: fit-content;
  left: 12px;
}
.found .search #Adrr {
  border-radius: 12px;
  border: 1px solid #000;
  padding: 14px 90px 13px 42px;
  width: 100%;
  box-sizing: border-box;
}
.found .search button {
  position: absolute;
  right: 0;
  border-radius: 12px;
  padding: 14px;
  border: 0;
  background: #000;
  color: #fff;
}

h2 .voirplus {
  position: absolute;
  right: 0px;
  top: 6px;
  padding: 22px;
  border-radius: 50%;
  background: rgb(241, 241, 241);
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  position: relative;
  overflow-y: hidden;
}
.cards .slider {
  display: flex;
  gap: 16px;
  width: fit-content;
  scroll-snap-type: x mandatory;
}
.cards .slider .card {
  width: 285px;
  height: 225px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.cards .slider .card .t {
  height: 120px;
  width: 100%;
  background-image: url(/my-app/src/img/background/poulet.jpeg);
  background-size: cover;
}
.cards .slider .card .t div[class^=promo] {
  position: absolute;
  left: 0;
  padding: 4px;
  padding-right: 8px;
  border-radius: 0 12px 12px 0;
  font-family: "Lato", sans-serif;
}
.cards .slider .card .t .promo1 {
  top: 10px;
  background: #fff;
  color: rgb(186, 0, 0);
}
.cards .slider .card .t .promo2 {
  top: 37px;
  background: rgb(186, 0, 0);
  color: #fff;
}
.cards .slider .card .t .time {
  position: absolute;
  background: #fff;
  padding: 8px;
  border-radius: 12px;
  right: 8px;
  box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.2);
  top: 45%;
}
.cards .slider .card .t .time p {
  margin: 0;
}
.cards .slider .card .t .time p b {
  font-size: 18px;
}
.cards .slider .card .t .heart {
  color: #fff;
  top: 16px;
  position: absolute;
  right: 16px;
}
.cards .slider .card .b {
  padding: 8px;
  height: 90px;
}
.cards .slider .card .b a {
  text-decoration: none;
  color: #000;
}
.cards .slider .card .b a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
.cards .slider .card .b a b {
  text-transform: uppercase;
}
.cards .slider .card .b p {
  margin: 12px 0;
}
.cards .slider .card .b p i {
  margin-right: 4px;
}
.cards .slider .card .b .note {
  color: rgb(0, 176, 0);
}
.cards .slider .card .b .km {
  color: rgb(109, 109, 109);
}
.cards .slider .card .b .km span {
  color: rgb(186, 0, 0);
  margin-left: 4px;
}

.cate {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;
}
.cate a {
  width: calc(33% - 8px);
  height: fit-content;
  max-width: 250px;
  text-decoration: none;
  color: #000;
}
.cate a .n-1cate {
  border-radius: 12px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 24px;
  background-color: rgb(241, 241, 241);
  gap: 8px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.cate a .n-1cate img {
  max-width: 100%;
  width: 60px;
}

/*# sourceMappingURL=style.css.map */
